/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Root variables */
:root {
  --purple-dark: rgb(37, 35, 92);
  --yellow: rgb(240, 218, 29);
  --purple-light: rgb(98, 91, 154);
  --orange: rgb(255, 80, 48);
  --pink: rgb(221, 37, 117);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0;);
}

/* resets default browser styles */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* defining root styles 
root font size is set to 62.5% so that we can use rem for our styling
 since we now know that 1rem  == 10px  and thereby making our lives easier*/
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--white);
  background: linear-gradient(
    to bottom right,
    rgba(254, 173, 123, 0.8),
    rgb(215, 109, 119, 0.8),
    rgba(61, 30, 113, 0.8)
  );
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 130rem;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto;
}

.profile {
  background-color: var(--purple-dark);
  box-shadow: 1rem 1rem 4rem var(--black);
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  margin: 3rem 0;
  padding: 3rem;
  max-width: 28rem;
  min-width: 28rem;
  max-height: 45rem;
  min-height: 45rem;
  border-radius: 1rem;
  text-align: center;
  animation: slideUp 2s backwards;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform: scale(1);
}

/* intro slide up animation */
@keyframes slideUp {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* hover effect of profile cards */
.profile:hover {
  transform: translateY(-0.5rem) scale(1.02);
}

.profile > *:not(:last-child) {
  margin-bottom: 2.5rem;
}

.profile__image {
  height: 8rem;
  border-radius: 50%;
  height: 8rem;
  border-radius: 50%;
  outline: 0.2rem solid var(--yellow);
  outline-offset: 0.3rem;
}

.profile__name {
  font-size: 2rem;
}

.profile__info {
  color: var(--purple-light);
}

.profile__bio {
  height: 8rem;
}

.profile__link:link,
.profile__link:visited {
  display: inline-block;
  color: white;
  background-color: var(--purple-light);
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
}

.profile__link::after {
  content: "";
  display: inline-block;
  background-color: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -1;
  transition: all 0.5s;
  border-radius: inherit;
}

/* button animation */
.profile__link:hover::after {
  transform: scaleX(2) scaleY(2);
  opacity: 0;
}

/*  social media icons */

.media_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.media_icons > * {
  color: rgba(243, 233, 233, 0.767);
  text-decoration: none;
}

.media_icons > *:hover {
  opacity: 0.5;
}

/* End of social media icons */
