/* Root variables */
:root {
  --purple-dark: rgb(37, 35, 92);
  --yellow: rgb(240, 218, 29);
  --purple-light: rgb(98, 91, 154);
  --orange: rgb(255, 80, 48);
  --pink: rgb(221, 37, 117);
  --white: rgb(255, 255, 255);
}

/* resets default browser styles */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* defining root styles 
root font size is set to 62.5% so that we can use rem for our styling
 since we now know that 1rem  == 10px  and thereby making our lives easier*/
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background: linear-gradient(
    to bottom right,
    rgba(254, 173, 123, 0.8),
    rgb(215, 109, 119, 0.8),
    rgba(61, 30, 113, 0.8)
  );
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 130rem;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto;
}

.profile {
  background-color: rgba(255, 255, 255,.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 3rem 0;
  width: 23%;
  border-radius: 1rem;
}

.profile__image {
  height: 8rem;
  border-radius: 50%;
}

.profile__name {
}

.profile__info {
}

.profile__bio {
}

.profile__link:link,
.profile__link:visited {
}
